body{
    overflow: hidden;
     background-color: #092949; 
    color: #6a929e;
 
}
.grid-main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "h h h "
    "c c c "
    "f f f ";
}

.grid-venue {
  display: block;
  height: 400px;
  z-index: 99;
  align-self: stretch;
}
img{
height:200px ;
}
.grid-nav {

  height: 100px;
  display: grid;
  grid-column: span 1;
  grid-area: h;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 10px;
}
.grid-mid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
  grid-area: c;
}

.grid-footer {
  grid-column: span 1;
  text-align: center;
  grid-area: f;
}
.nav-item {
  display: block;
}
.login{
    grid-column: 4;
    justify-self: flex-end;
}
