body {
  background-color: #092949;
  color: #6a929e;
}
.grid-main {
  margin: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 50px 1fr 100px;
  grid-template-areas:
    "h h h "
    "s s s "
    "c c c "
    "f f f ";
}
.search{
  text-align: center;
  grid-area: s;
  grid-column: 2;
}
.grid-venue {
  display: block;
  height: 400px;
  z-index: 99;
  align-self: stretch;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  height: 200px;
}
.grid-nav {
  height: 100px;
  display: grid;
  grid-column: span 1;
  grid-area: h;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 10px;
}
.grid-mid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 100px;
  grid-area: c;
}

.grid-footer {
  grid-column: span 1;
  text-align: center;
  grid-area: f;
}
.nav-item {
  display: block;
}
.login {
  grid-column: 4;
  justify-self: flex-end;
}
